/*=================================MAIN=================================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-wide {
  max-width: 90%; /* ou toute autre largeur souhaitée */
  margin: auto; /* pour centrer le conteneur */
}

h1 {
  font-size: 3.4vmin;
  text-align: left;
  color: white;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 1rem; /* Espacement entre les cartes */
}

.wrap,
.wrapJaune,
.wrapRouge,
.wrapVerte,
.wrapMulticolore,
.wrapViolette {
  flex: 1 1 calc(50% - 1rem); /* Ajustez en fonction de l'espacement */
  margin: 0.5rem; /* Espacement uniforme autour de chaque carte */
  max-width: calc(50% - 1rem); /* Ajustez en fonction de l'espacement */
}

/* Écrans de moins de 600px de large */
@media (max-width: 600px) {
  .wrap,
  .wrapJaune,
  .wrapRouge,
  .wrapVerte,
  .wrapMulticolore,
  .wrapViolette {
    flex-basis: 100%; /* Une carte par ligne sur les écrans très petits */
    max-width: 100%; /* Utiliser toute la largeur disponible */
  }
}

@media (max-width: 1024px) {
  .wrap,
  .wrapJaune,
  .wrapRouge,
  .wrapVerte,
  .wrapMulticolore,
  .wrapViolette {
    flex-basis: 100%; /* Une carte par ligne sur les écrans plus petits */
    max-width: 100%; /* Utiliser toute la largeur disponible */
  }
}

.special-text {
  font-size: max(10pt, 2.5vmin);
  line-height: 1.4;
  color: #0e390e;
  margin-bottom: 1.5rem;
}
.special-text2 {
  font-size: max(10pt, 2.5vmin);
  line-height: 1.4;
  color: #0e390e;
  margin-bottom: 1.5rem;
}
/*=================================CARTE BLEU=================================*/

.wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80vmin;
  height: 60vmin;
  margin: 2rem auto;
  border: 8px solid;
  border-image: linear-gradient(
      -50deg,
      blue,
      #0000b3,
      #000066,
      blue,
      #99ccff,
      #0000ff,
      blue
    )
    1;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  background: #000066;
  transition: 0.4s ease-in-out;
  z-index: 1;
}
.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14vmin;
  height: 100%;
  padding: 0.5rem 0 0 0.5rem;
  border: 3px solid;
  border-image: linear-gradient(
      to bottom,
      #0077be 5%,
      #000066 35% 65%,
      #0077be 95%
    )
    0 0 0 100%;
  transition: 0.3s ease-in-out 0.2s;
  z-index: 1;
}
.image-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  background-image: url("../img/bleucarte.jpg");
  background-size: cover;
  transition: 0.3s ease-in-out;
  /* border: 1px solid green; */
}
.inset {
  max-width: 50%;
  margin: 0.25em 1em 1em 0;
  border-radius: 0.25em;
  float: left;
}

.dots {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55px;
  height: 4vmin;
  transition: 0.3s ease-in-out 0.3s;
}
.dot {
  width: 14px;
  height: 14px;
  background: blue;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.3s ease-in-out 0.3s;
}

.text {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  padding: 3vmin 4vmin;
  background: #fff;
  box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
  overflow-y: scroll;
}

.wrap:hover .overlay {
  transform: translateX(-60vmin);
}
.wrap:hover .image-content {
  width: 30vmin;
}
.wrap:hover .overlay-content {
  border: none;
  transition-delay: 0.2s;
  transform: translateX(60vmin);
  display: none !important;
}
.wrap:hover .dots {
  transform: translateX(1rem);
}
.wrap:hover .dots .dot {
  background: white;
}

@media (max-width: 600px) {
  .active .overlay {
    transform: translateX(-60vmin);
  }
  .active .image-content {
    width: 30vmin;
  }
  .active .overlay-content {
    border: none;
    transform: translateX(60vmin);
  }
  .active .dots {
    transform: translateX(1rem);
  }
  .active .dots .dot {
    background: white;
  }
  .active .overlay-content {
    /* Ajoutez vos autres propriétés ici */
    display: none !important;
  }
}
/*=================================ANIMATION TOUTES LES CARTES=================================*/

/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.pop {
  animation-name: pop;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide {
  animation-name: slide;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left {
  animation-name: slide-left;
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {
  animation-name: slide-up;
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}

/*==============================CARTE JAUNE==============================*/

.wrapJaune {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80vmin;
  height: 60vmin;
  margin: 2rem auto;
  border: 8px solid;
  border-image: linear-gradient(
      -50deg,
      #ffff00,
      #b3b300,
      #666600,
      #ffff00,
      #ffff99,
      #ffff00,
      #ffff00
    )
    1;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.overlayJaune {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  background: #ffff00; /* Code couleur pour le jaune */
  transition: 0.4s ease-in-out;
  z-index: 1;
}
.overlay-contentJaune {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14vmin;
  height: 100%;
  padding: 0.5rem 0 0 0.5rem;
  border: 3px solid;
  border-image: linear-gradient(
      to bottom,
      #aea724 5%,
      #ffff00 35% 65%,
      /* Couleur jaune vif au milieu */ #aea724 95%
    )
    0 0 0 100%;
  transition: 0.3s ease-in-out 0.2s;
  z-index: 1;
}
.image-contentJaune {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  background-image: url("../img/jaunecarte.jpg");
  background-size: cover;
  transition: 0.3s ease-in-out;
  /* border: 1px solid green; */
}
.insetJaune {
  max-width: 50%;
  margin: 0.25em 1em 1em 0;
  border-radius: 0.25em;
  float: left;
}

.dotsJaune {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55px;
  height: 4vmin;
  transition: 0.3s ease-in-out 0.3s;
}
.dotJaune {
  width: 14px;
  height: 14px;
  background: yellow;
  border: 1px solid brown;
  border-radius: 50%;
  transition: 0.3s ease-in-out 0.3s;
}

.textJaune {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  padding: 3vmin 4vmin;
  background: #fff;
  box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
  overflow-y: scroll;
}

.wrapJaune:hover .overlayJaune {
  transform: translateX(-60vmin);
}
.wrapJaune:hover .image-contentJaune {
  width: 30vmin;
}
.wrapJaune:hover .overlay-contentJaune {
  border: none;
  transition-delay: 0.2s;
  transform: translateX(60vmin);
  display: none !important;
}
.wrapJaune:hover .dotsJaune {
  transform: translateX(1rem);
}
.wrapJaune:hover .dotsJaune .dotJaune {
  background: white;
}

@media (max-width: 600px) {
  .active .overlayJaune {
    transform: translateX(-60vmin);
  }
  .active .image-contentJaune {
    width: 30vmin;
  }
  .active .overlay-contentJaune {
    border: none;
    transform: translateX(60vmin);
  }
  .active .dotsJaune {
    transform: translateX(1rem);
  }
  .active .dotsJaune .dotJaune {
    background: white;
  }
  .active .overlay-contentJaune {
    /* Ajoutez vos autres propriétés ici */
    display: none !important;
  }
}

/*==============================CARTE ROUGE==============================*/

.wrapRouge {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80vmin;
  height: 60vmin;
  margin: 2rem auto;
  border: 8px solid;
  border-image: linear-gradient(
      -50deg,
      #ff0000,
      #b30000,
      #660000,
      #ff0000,
      #ff9999,
      #ff0000,
      #ff0000
    )
    1;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.overlayRouge {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  background: #ff0000; /* Code couleur pour le rouge */
  transition: 0.4s ease-in-out;
  z-index: 1;
}
.overlay-contentRouge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14vmin;
  height: 100%;
  padding: 0.5rem 0 0 0.5rem;
  border: 3px solid;
  border-image: linear-gradient(
      to bottom,
      #b30000 5%,
      /* Rouge foncé en haut */ #ff0000 35% 65%,
      /* Rouge vif au milieu */ #b30000 95% /* Rouge foncé en bas */
    )
    0 0 0 100%;
  transition: 0.3s ease-in-out 0.2s;
  z-index: 1;
}
.image-contentRouge {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  background-image: url("../img/rougecarte.jpg");
  background-size: cover;
  transition: 0.3s ease-in-out;
  /* border: 1px solid green; */
}
.insetRouge {
  max-width: 50%;
  margin: 0.25em 1em 1em 0;
  border-radius: 0.25em;
  float: left;
}

.dotsRouge {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55px;
  height: 4vmin;
  transition: 0.3s ease-in-out 0.3s;
}
.dotRouge {
  width: 14px;
  height: 14px;
  background: #ff0000; /* Code couleur pour le rouge */
  border: 1px solid #690606; /* Bordure en rouge foncé */
  border-radius: 50%;
  transition: 0.3s ease-in-out 0.3s;
}

.textRouge {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  padding: 3vmin 4vmin;
  background: #fff;
  box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
  overflow-y: scroll;
}

.wrapRouge:hover .overlayRouge {
  transform: translateX(-60vmin);
}
.wrapRouge:hover .image-contentRouge {
  width: 30vmin;
}
.wrapRouge:hover .overlay-contentRouge {
  border: none;
  transition-delay: 0.2s;
  transform: translateX(60vmin);
  display: none !important;
}
.wrapRouge:hover .dotsRouge {
  transform: translateX(1rem);
}
.wrapRouge:hover .dotsRouge .dotRouge {
  background: white;
}

@media (max-width: 600px) {
  .active .overlayRouge {
    transform: translateX(-60vmin);
  }
  .active .image-contentRouge {
    width: 30vmin;
  }
  .active .overlay-contentRouge {
    border: none;
    transform: translateX(60vmin);
  }
  .active .dotsRouge {
    transform: translateX(1rem);
  }
  .active .dotsRouge .dotRouge {
    background: white;
  }
  .active .overlay-contentRouge {
    /* Ajoutez vos autres propriétés ici */
    display: none !important;
  }
}

/*==============================CARTE VERTE==============================*/

.wrapVerte {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80vmin;
  height: 60vmin;
  margin: 2rem auto;
  border: 8px solid;
  border-image: linear-gradient(
      -50deg,
      #008000,
      #006400,
      #004d00,
      #008000,
      #99ff99,
      #008000,
      #008000
    )
    1;
  transition: 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
.overlayVerte {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  background: #008000; /* Code couleur pour le vert */
  transition: 0.3s ease-in-out;
  z-index: 1;
}
.overlay-contentVerte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14vmin;
  height: 100%;
  padding: 0.5rem 0 0 0.5rem;
  border: 3px solid;
  border-image: linear-gradient(
      to bottom,
      #006400 5%,
      /* Vert foncé en haut */ #008000 35% 65%,
      /* Vert vif au milieu */ #006400 95% /* Vert foncé en bas */
    )
    0 0 0 100%;
  transition: 0.2s ease-in-out 0.2s;
  z-index: 1;
}
.image-contentVerte {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  background-image: url("../img/vertecarte.jpg");
  background-size: cover;
  transition: 0.2s ease-in-out;
  /* border: 1px solid green; */
}
.insetVerte {
  max-width: 50%;
  margin: 0.25em 1em 1em 0;
  border-radius: 0.25em;
  float: left;
}

.dotsVerte {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55px;
  height: 4vmin;
  transition: 0.2s ease-in-out 0.2s;
}
.dotVerte {
  width: 14px;
  height: 14px;
  background: #008000; /* Code couleur pour le vert */
  border: 1px solid #006400; /* Bordure en vert foncé */
  border-radius: 50%;
  transition: 0.2s ease-in-out 0.2s;
}

.textVerte {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  padding: 3vmin 4vmin;
  background: #fff;
  box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
  overflow-y: scroll;
}

.wrapVerte:hover .overlayVerte {
  transform: translateX(-60vmin);
}
.wrapVerte:hover .image-contentVerte {
  width: 30vmin;
}
.wrapVerte:hover .overlay-contentVerte {
  border: none;
  transition-delay: 0.1s;
  transform: translateX(60vmin);
  display: none !important;
}
.wrapVerte:hover .dotsVerte {
  transform: translateX(1rem);
}
.wrapVerte:hover .dotsVerte .dotVerte {
  background: white;
}

@media (max-width: 600px) {
  .active .overlayVerte {
    transform: translateX(-60vmin);
  }
  .active .image-contentVerte {
    width: 30vmin;
  }
  .active .overlay-contentVerte {
    border: none;
    transform: translateX(60vmin);
  }
  .active .dotsVerte {
    transform: translateX(1rem);
  }
  .active .dotsVerte .dotVerte {
    background: white;
  }
  .active .overlay-contentVerte {
    /* Ajoutez vos autres propriétés ici */
    display: none !important;
  }
}

/*==============================CARTE Multicolore==============================*/

.wrapMulticolore {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80vmin;
  height: 60vmin;
  margin: 2rem auto;
  border: 8px solid;
  border-image: linear-gradient(
      -50deg,
      #ff0000,
      #00ff00,
      #0000ff,
      #ffff00,
      #ff00ff,
      #00ffff,
      #ff0000
    )
    1;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.overlayMulticolore {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  background: linear-gradient(
    -50deg,
    #ff0000,
    #00ff00,
    #0000ff,
    #ffff00,
    #ff00ff,
    #00ffff,
    #ff0000
  );
  transition: 0.4s ease-in-out;
  z-index: 1;
}
.overlay-contentMulticolore {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14vmin;
  height: 100%;
  padding: 0.5rem 0 0 0.5rem;
  border: 3px solid;
  border-image: linear-gradient(
      to bottom,
      #ff0000 5%,
      /* Rouge en haut */ #00ff00 35%,
      #0000ff 65%,
      /* Vert au milieu, Bleu à 65% */ #ffff00 95% /* Jaune en bas */
    )
    0 0 0 100%;
  transition: 0.3s ease-in-out 0.2s;
  z-index: 1;
}
.image-contentMulticolore {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  background-image: url("../img/multicolorecarte.jpg");
  background-size: cover;
  transition: 0.3s ease-in-out;
  /* border: 1px solid green; */
}
.insetMulticolore {
  max-width: 50%;
  margin: 0.25em 1em 1em 0;
  border-radius: 0.25em;
  float: left;
}

.dotsMulticolore {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55px;
  height: 4vmin;
  transition: 0.3s ease-in-out 0.3s;
}
.dotMulticolore {
  width: 14px;
  height: 14px;
  background: linear-gradient(
    -50deg,
    #ff0000,
    #00ff00,
    #0000ff,
    #ffff00,
    #ff00ff,
    #00ffff,
    #ff0000
  ); /* Arrière-plan multicolore */
  border-image: linear-gradient(
      -50deg,
      #ff0000,
      #00ff00,
      #0000ff,
      #ffff00,
      #ff00ff,
      #00ffff,
      #ff0000
    )
    1; /* Bordure multicolore */
  border-radius: 50%;
  transition: 0.3s ease-in-out 0.3s;
}

.textMulticolore {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  padding: 3vmin 4vmin;
  background: #fff;
  box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
  overflow-y: scroll;
}

.wrapMulticolore:hover .overlayMulticolore {
  transform: translateX(-60vmin);
}
.wrapMulticolore:hover .image-contentMulticolore {
  width: 30vmin;
}
.wrapMulticolore:hover .overlay-contentMulticolore {
  border: none;
  transition-delay: 0.2s;
  transform: translateX(60vmin);
  display: none !important;
}
.wrapMulticolore:hover .dotsMulticolore {
  transform: translateX(1rem);
}
.wrapMulticolore:hover .dotsMulticolore .dotMulticolore {
  background: white;
}
.custom-h1 {
  font-size: 2.8vmin;
  text-align: left;
  color: white;
}

@media (max-width: 600px) {
  .overlay-contentMulticolore {
    padding: 0.5rem 0 0 0rem;
  }
  .active .overlayMulticolore {
    transform: translateX(-60vmin);
  }
  .active .image-contentMulticolore {
    width: 30vmin;
  }
  .active .overlay-contentMulticolore {
    border: none;
    transform: translateX(60vmin);
    width: 12vmin !important;
  }
  .active .dotsMulticolore {
    transform: translateX(1rem);
  }
  .active .dotsMulticolore .dotMulticolore {
    background: white;
  }
  .active .overlay-contentMulticolore {
    /* Ajoutez vos autres propriétés ici */
    display: none !important;
  }
}

/*==============================CARTE VIOLETTE==============================*/

.wrapViolette {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80vmin;
  height: 60vmin;
  margin: 2rem auto;
  border: 8px solid;
  border-image: linear-gradient(
      -50deg,
      #800080,
      #9400d3,
      #9932cc,
      #8a2be2,
      #9370db,
      #8b008b,
      #800080
    )
    1; /* Bordure Violet */
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.overlayViolette {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 0.75rem;
  background: linear-gradient(
    -50deg,
    #800080,
    #9400d3,
    #9932cc,
    #8a2be2,
    #9370db,
    #8b008b,
    #800080
  ); /* Arrière-plan Violet */
  transition: 0.4s ease-in-out;
  z-index: 1;
}
.overlay-contentViolette {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14vmin;
  height: 100%;
  padding: 0.5rem 0 0 0.5rem;
  border: 3px solid;
  border-image: linear-gradient(
      to bottom,
      #800080 5%,
      /* Violet en haut */ #9400d3 35%,
      #9932cc 65%,
      /* Violet foncé au milieu, Violet moyen à 65% */ #9370db 95%
        /* Violet moyen clair en bas */
    )
    0 0 0 100%;
  transition: 0.3s ease-in-out 0.2s;
  z-index: 1;
}
.image-contentViolette {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  background-image: url("../img/violettecarte.jpg");
  background-size: cover;
  transition: 0.3s ease-in-out;
  /* border: 1px solid green; */
}
.insetViolette {
  max-width: 50%;
  margin: 0.25em 1em 1em 0;
  border-radius: 0.25em;
  float: left;
}

.dotsViolette {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55px;
  height: 4vmin;
  transition: 0.3s ease-in-out 0.3s;
}
.dotViolette {
  width: 14px;
  height: 14px;
  background: linear-gradient(
    -50deg,
    #800080,
    #9400d3,
    #9932cc,
    #8a2be2,
    #9370db,
    #8b008b,
    #800080
  ); /* Arrière-plan Violet */
  border-image: linear-gradient(
      -50deg,
      #800080,
      #9400d3,
      #9932cc,
      #8a2be2,
      #9370db,
      #8b008b,
      #800080
    )
    1; /* Bordure Violet */
  border-radius: 50%;
  transition: 0.3s ease-in-out 0.3s;
}

.textViolette {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vmin;
  height: 100%;
  padding: 3vmin 4vmin;
  background: #fff;
  box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
  overflow-y: scroll;
}

.wrapViolette:hover .overlayViolette {
  transform: translateX(-60vmin);
}
.wrapViolette:hover .image-contentViolette {
  width: 30vmin;
}
.wrapViolette:hover .overlay-contentViolette {
  border: none;
  transition-delay: 0.2s;
  transform: translateX(60vmin);
  display: none !important;
}
.wrapViolette:hover .dotsViolette {
  transform: translateX(1rem);
}
.wrapViolette:hover .dotsViolette .dotViolette {
  background: white;
}

@media (max-width: 600px) {
  .overlay-contentViolette {
    padding: 0.5rem 0 0 0rem;
  }
  .active .overlayViolette {
    transform: translateX(-60vmin);
  }
  .active .image-contentViolette {
    width: 30vmin;
  }
  .active .overlay-contentViolette {
    border: none;
    transform: translateX(60vmin);
  }
  .active .dotsViolette {
    transform: translateX(1rem);
  }
  .active .dotsViolette .dotViolette {
    background: white;
  }
  .active .overlay-contentViolette {
    /* Ajoutez vos autres propriétés ici */
    display: none !important;
  }
}
