/*******************************************************************************************************/
/*Main*/

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark-color: #333;
  --light-color: #fff;
  --bg-main-color: #f5f6fa;
}


body {
  background-color: var(--bg-main-color);
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  margin-top: auto;
  width: 100%;
}

/********************************************************************************************************/

.title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

/********************************************************************************************************/
/*scrollbar*/
::-webkit-scrollbar {
  width: 10px; /* Largeur de la scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--dark-color); /* Couleur du fond */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Couleur du curseur */
  border-radius: 10px; /* Arrondissement des angles */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Couleur au survol */
}


/* ADD PAR ADRIEN LE 18/12 */
#pseudo-form, #create-lobby-form {
  border: 2px solid #000;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9; 
}

#lobby-list {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #f2f2f2; /* Ajoute une couleur de fond gris clair */
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-group-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  text-align: center;
}

.list-group-item:last-child {
  margin-bottom: 0; 
}
#lobby-list li {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  text-align: center;
}
#lobby-list li:last-child {
  margin-bottom: 0;
}

#player-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #e7e4e4;
  border-radius: 30px;
  box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  z-index: 4;
}

#player-list li {
  width: 80%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f3efef;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  display: inline-block;
  z-index: 4;
}

#player-list li:last-child {
  z-index: 2;
  display: inline-block;
}

.creator .crown-icon {
  height: 30px; /* Ajustez la taille de l'image de la couronne comme vous le souhaitez */
}

.game-item {
  margin-bottom: 10px;
}

.game-item a {
  display: block;
  background-color: #b8b5b5;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Ajoutez une ombre pour donner un effet de carte */
}

.game-item a:hover {
  background-color: #f44336; /* Utilisez une couleur plus vive */
  color: #fff;
}

a.disabled {
  color: gray;
  pointer-events: none;
}
/* ""ADD PAR ADRIEN LE 18/12"" */